.weather {
  width: 300px;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #030303;
}
.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.city {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1px;
  margin: 0;
}
.weather-status {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}
.weather-icon {
  width: 100px;
}
.temperature {
  font-weight: 700;
  font-size: 70px;
  letter-spacing: -5px;
  margin: 10px 0;
  width: auto;
}
.details {
  width: 100%;
  padding-left: 20px;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label {
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}
.value {
  text-align: right;
  font-size: 12px;
  font-weight: 600;
}
